@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Loading animation */
	.shimmer {
		@apply before:absolute before:inset-0 before:-translate-x-full
      before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r
      before:from-transparent before:via-black/20 before:to-transparent;
	}

	.text-shadow {
		text-shadow:
			0.15em 0 0.3em #000,
			-0.15em 0 0.3em #000,
			0 0 0.3em #000,
			0 0 0.15em #000;
	}
}

dialog {
	max-width: 100vw;
	max-height: 100vh;
}
